@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:rgb(0, 0, 0); padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; padding-bottom: 20px; margin: 20px auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; 
    background-image: url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769); 

    
    background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1586953208448-b95a79798f07?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1621600411688-4be93cd68504?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}


.body-feature{
	padding: 40px 0 400px 0;
}

.index-body {
	margin: 0px;

	background: #1b1d20;
}

h1, h2, .ina {
	font-family: "Rubik", Helvetica, Arial, sans-serif;
	color: white;
	font-weight: normal;
}

h1 {
	text-align: center;
	margin-top: 100px;
}

p {
	font-family: "IBM Plex Mono", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #b0b2b3;
}

.sa {
	max-width: 600px;
	margin: 80px auto;
	padding: 0 20px;
}

h2::before {
	content: '';
	display: inline-block;
	height: 18px;
	width: 3px;
	border-radius: 5px;
	margin-right: 10px;
	background-image: linear-gradient(#DDFF01, #2e0);
}

.sa > div {
	margin: 0 20px;
}

.sa > .ina {
	display: block;
	max-width: 120px;
	text-align: center;
	text-decoration: none;
	padding: 8px 20px 10px 20px;
	text-transform: uppercase;
	background-image: linear-gradient(#9B30F9, #84e);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 1em;
}

.sa > .ina:hover {
	background: #a494f5;
	color: white;
}

.menu {
	width: 100%;
	background: #010101;
	position: fixed;
	top: 0;
	z-index: 100;
}

.menu .inul {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0px;
    text-transform: uppercase;
}

.menu .ina {
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}

.menu .ina:hover {
	color: #a494f5;
}

.title-span{
    display: inline-block;
    margin: 20px;
}

.logo-title{
    
    margin-right: 30px;
    height: 80px;
    width: auto;
    white-space: nowrap;
    float: left;
}
.h3-title{
    white-space: nowrap;
}
.h1-title{
    white-space: nowrap;
}

